.container {
  width: 100%;
  max-width: 916px;
  margin: 123px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 43px;

    span {
      background: #434343;
      width: 3px;
      height: 98px;
      margin: 0 52px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;

    .title {
      font-size: 38px;
      line-height: 50px;
      color: #ee721a;
      font-weight: 700;
      margin-bottom: 28px;
    }

    .description {
      font-size: 25px;
      line-height: 50px;
      color: #3c4f5e;
      font-weight: 400;
      margin-bottom: 28px;
    }

    #tip {
      font-size: 21px;
      line-height: 50px;
      text-decoration: underline;
      color: #ee721a;
      font-weight: 500;
      margin-bottom: 38px;
      cursor: pointer;
    }

    .input-container {
      width: 374px;
      height: 80px;
      border-radius: 41px;
      background-color: #ffffff;
      border: 2px solid #dddddd;
      display: flex;
      overflow: hidden;
      margin-bottom: 28px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 76px;
        background: #dddddd;
        flex-shrink: 0;
        border-radius: 38px;
        font-size: 21px;
        line-height: 50px;
        color: #3c4f5e;
        font-weight: 500;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        padding: 0 20px;
        font-size: 21px;
        letter-spacing: 1px;
        line-height: 50px;
        color: #434343;
        font-weight: 500;
      }
    }

    .continue {
      width: 374px;
      font-weight: 700;
    }
  }
}

#modal {
  position: fixed;
  width: 100%;
  height: 150vh;
  top: 0;
  left: 0;
  background: #00000050;
  align-items: center;
  justify-content: center;
  display: none;

  &.show {
    display: flex;
  }

  .modal-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    box-shadow: 0.077px 8.329px 43.5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 43px 80px 50px;

    .info {
      width: 80px;
      margin-bottom: 20px;
    }

    .title {
      font-size: 32px;
      color: #ee721a;
      font-weight: 700;
      margin-bottom: 24px;
    }

    .description {
      font-size: 22px;
      line-height: 25px;
      color: #374955;
      text-align: center;
      margin-bottom: 28px;

      span {
        font-weight: 700;
        color: #ee721a;
      }
    }

    .password {
      display: flex;
      background: #ddd;
      border-radius: 100px;
      margin-bottom: 16px;
      position: relative;

      span {
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        top: 22px;
        left: 30px;
        color: #9F9F9F;
      }

      img {
        height: 70px;
      }
    }

    .tip {
      font-size: 22px;
      line-height: 25px;
      color: #ee721a;
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;
    }

    .hint {
      font-size: 18px;
      line-height: 20px;
      color: #374955;
      text-align: center;
      margin-bottom: 33px;
    }

    #close {
      width: 320px;
      height: 64px;
      font-size: 24px;
    }
  }
}
