.container {
  margin: 123px auto;
  width: 100%;
  max-width: 817px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 43px;

    span {
      width: 2px;
      height: 98px;
      background: #434343;
      margin: 0 52px;
    }
  }

  .card {
    padding: 95px 103px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 38px;
      color: #ee721a;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px;
    }

    .description {
      font-size: 25px;
      color: #3c4f5e;
      text-align: center;
      margin-bottom: 50px;
    }

    .inputs {
      display: flex;
      margin-bottom: 50px;

      input {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background-color: #efefef;
        border: 1px solid #dddddd;
        text-align: center;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 50px;
        color: #999999;
        font-weight: 700;
        margin: 0 4px;
      }
    }

    #continue {
      width: 483px;
      height: 86px;
      font-weight: 700;
      margin-bottom: 27px;

      &.disabled {
        opacity: 0.7;
        pointer-events: none;
      }
    }

    .resend {
      font-size: 25px;
      line-height: 50px;
      color: #374955;
      text-decoration: none;
    }
  }
}
