body {
  background: #f1f1f1;

  .container {
    padding: 116px 215px;
    position: relative;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 219px;

      img:first-child {
        width: 225px;
      }

      img:last-child {
        width: 219px;
      }

      span {
        width: 2px;
        height: 98px;
        background: #434343;
        margin: 0 52px;
      }
    }

    .body {
      .title {
        font-size: 100px;
        line-height: 113px;
        color: #ee721a;
        font-weight: 700;
        margin-bottom: 40px;
      }

      .description {
        font-size: 33px;
        line-height: 50px;
        color: #374955;
        margin-bottom: 67px;
      }

      .actions {
        display: flex;
        align-items: center;

        a {
          width: 377px;
          height: 94px;
          margin-right: 37px;
          padding: 0;

          &.browsing {
            font-weight: 700;
          }
        }
      }
    }

    .success {
      position: absolute;
      top: 267px;
      right: 160px;
    }
  }

  .cloud {
    width: 100%;
    height: 210px;
    overflow: hidden;
    position: fixed;
    bottom: 0;

    img {
      width: 100%;
    }
  }
}
